PORT=3000
DATABASE_URL=postgresql://postgres.dltwibgfkhuxobzigvpy:Reisya.kh111@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
JWT_SECRET=b643c04ecc7134b3078d31132d3b7845298f13c2da70f63fac0991ba9b696446
VITE_API_URL=/api
VITE_PUBLIC_SITE_URL=/
